body {
  font-family: cursive;
}

header {
    width: 100%;
    border-radius: 1rem;
    background-color: #333;
  }

  .img{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0;
  }
  
  nav a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #555;
  }
  
  .footer{
    display: flex;
    background-color: #333;
    border-radius: 2rem;
    justify-content: center;
  }

  .footer a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
  }

  .container{
    background-color: #222;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    margin: 100px;
    padding-bottom: 100px;
    padding-top: 100px;
    color: #fff;
  }

  table td,th {
    border: 1px solid;
  }

  table th, td {
    padding: 10px;
    text-align: left;
  }

  tr:nth-child(even){
    background-color: #f2f2f2;
  }

  input, select{
    border-radius: 0.5rem;
    width: 250px;
    height: 20px;
    margin-bottom: 10px;
  }

  textarea{
    border-radius: 0.5rem;
    resize: none;
  }